rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // User Profiles
    match /user_profiles/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId &&
                       request.resource.data.createdAt == resource.data.createdAt &&
                       request.resource.data.uid == resource.data.uid; // Also protect uid from changes
      allow create: if false; // Creation handled by Cloud Function
      allow delete: if false;
    }

    // Calendars
    match /calendars/{calendarId} {
      allow read: if true
      allow create: if true
      allow update: if true
      allow delete: if true
      // allow read: if request.auth != null &&
      //                (request.auth.uid == resource.data.uid ||
      //                 request.auth.uid in resource.data.permissions);
      // allow create: if request.auth != null &&
      //                  request.auth.uid == request.resource.data.uid &&
      //                  request.resource.data.permissions[request.auth.uid] == 'owner';
      // allow update: if request.auth != null &&
      //                  request.auth.uid == resource.data.uid &&
      //                  resource.data.permissions[request.auth.uid] == 'owner';
      // allow delete: if request.auth != null &&
      //                  resource.data.uid == request.auth.uid &&
      //                  resource.data.isPersonal != true;
    }

    // Events - Using Denormalized Permissions
    match /calendars/{calendarId}/events/{eventId} {
      allow read: if true
      allow create: if true
      allow update: if true
      allow delete: if true

      // function getUserRole(permissionsMap, userId) {
      //   return permissionsMap != null && userId in permissionsMap ? permissionsMap[userId] : null;
      // }

      // allow read: if request.auth != null && (
      //   (getUserRole(resource.data.eventSpecificPermissions, request.auth.uid) != null) ||
      //   (getUserRole(resource.data.eventSpecificPermissions, "public") == "viewer") ||
      //   (getUserRole(resource.data.calendarPermissionsSnapshot, request.auth.uid) != null &&
      //    (resource.data.isPrivate == false || resource.data.calendarOwnerIdSnapshot == request.auth.uid))
      // );

      // allow create: if request.auth != null &&
      //   (getUserRole(request.resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'owner' ||
      //    getUserRole(request.resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'editor');

      // allow update: if request.auth != null && (
      //   (getUserRole(resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'owner' ||
      //    getUserRole(resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'editor') ||
      //   (getUserRole(resource.data.eventSpecificPermissions, request.auth.uid) == 'editor')
      // );

      // allow delete: if request.auth != null && (
      //   (getUserRole(resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'owner' ||
      //    getUserRole(resource.data.calendarPermissionsSnapshot, request.auth.uid) == 'editor') ||
      //   (getUserRole(resource.data.eventSpecificPermissions, request.auth.uid) == 'owner')
      // );
    }

    // Global Event Bank Templates
    match /global_template_bank/event_bank/released/{templateId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null; // Anyone signed in can import templates.
      // allow create, update, delete: if request.auth != null && request.auth.token.isProviderAdmin == true;
    }

    match /global_template_bank/event_bank/draft/{templateId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null; // Anyone signed in can import templates.
      // allow create, update, delete: if request.auth != null && request.auth.token.isProviderAdmin == true;
    }

    // Global Event Bank Templates
    match /global_template_bank/day_plans/released/{dayPlanId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null; // Anyone signed in can import templates.
      // allow create, update, delete: if request.auth != null && request.auth.token.isProviderAdmin == true;
    }

    match /global_template_bank/day_plans/draft/{dayPlanId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null; // Anyone signed in can import templates.
      // allow create, update, delete: if request.auth != null && request.auth.token.isProviderAdmin == true;
    }

    // Personal Event Bank Items (scoped by owner)
    match /template_bank/{userId}/event_bank/{itemId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null && request.auth.uid == userId;
      // allow create: if request.auth != null && request.auth.uid == userId &&
      //                  request.resource.data.ownerId == request.auth.uid;
      // allow update, delete: if request.auth != null && request.auth.uid == userId &&
      //                          resource.data.ownerId == request.auth.uid;
    }
    // TODO: The config should probably only be editable by the owner
    // We might want other users/editors to edit parts of this
    // If so we should probably move this to a collection where it's easier to share with
    // other users and manage permissions
    match /template_bank/{userId}/event_bank_config/{itemId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null && request.auth.uid == userId;
      // allow create: if request.auth != null && request.auth.uid == userId &&
      //                  request.resource.data.ownerId == request.auth.uid;
      // allow update, delete: if request.auth != null && request.auth.uid == userId &&
      //                          resource.data.ownerId == request.auth.uid;
    }

    // Personal Day Plan bank Items (scoped by owner)
    match /template_bank/{userId}/day_plans/{dayPlanId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;

      // allow read: if request.auth != null && request.auth.uid == userId;
      // allow create: if request.auth != null && request.auth.uid == userId &&
      //                  request.resource.data.ownerId == request.auth.uid;
      // allow update, delete: if request.auth != null && request.auth.uid == userId &&
      //                          resource.data.ownerId == request.auth.uid;
    }

    // Media assets
    match /media_assets/{userId}/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
